[Unit]
Description=Mount loop device
DefaultDependencies=no
Conflicts=umount.target
Before=local-fs.target umount.target

[Service]
Type=forking
ExecStart=/usr/sbin/losetup --find --show /data/Dropbox/Personal.img
ExecStop=/usr/sbin/losetup -d `losetup | grep -Po '.+(?=(\s+\d){4}.*/data/Dropbox/Personal.img)'`
TimeoutSec=0
RemainAfterExit=no
 
[Install]
WantedBy=default.target
